.body-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.book-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 100px 50px;
}
.wishlist-container {
  background-color: orange;
}

@media screen and (max-width: 980px) {
  .body-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .book-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
