@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
h1 {
  font-family: "Poppins", sans-serif;
  color: #5d5757;
  margin-top: 100px;
}
.header {
  display: flex;
  justify-content: space-around;
}
.logo img {
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 688px) {
  .header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
