@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
.card-container {
  background-color: burlywood;
  color: #5d5757;
  width: 300px;
  height: 750px;
  margin: 20px;
  padding: 10px;
  text-align: justify;
  border-radius: 10px;
  box-shadow: 20px 20px 10px 0px rgb(179, 131, 70);
  border-left: solid 5px rgb(179, 131, 70);
  position: relative;
}
.card-info {
  margin: 0 14px;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.info-title {
  font-weight: 600;
}
.price {
  color: #b12704;
  font-weight: 600;
}
.card-container img {
  height: 500px;
  width: 290px;
  /* padding-left: 5px; */
  /* padding-right: 10px; */
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 10px;
}
.btn {
  background-color: #b3844694;
  height: 40px;
  width: 100%;
  border: none;
  margin-left: -10px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  background-color: #b38446b9;
}

@media screen and (max-width: 688px) {
  .card-container {
    height: 650px;
    width: 260px;
  }
  .card-container img {
    height: 300px;
    width: 250px;
  }
}
.wishlist-bookmark {
  margin-right: 20px;
  color: #b05150;
}

@media screen and (min-width: 689px) and (max-width: 980px) {
  .card-container {
    height: 650px;
    width: 260px;
  }
  .card-container img {
    height: 300px;
    width: 250px;
  }
}

@media screen and (min-width: 981px) and (max-width: 1100px) {
  .card-container {
    height: 750px;
    width: 300px;
  }
  .card-container img {
    height: 400px;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1280px) {
  .card-container img {
    height: 750px;
  }
}
